################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/DonKiRav
/Ilya'Clever0ne'Pankov
/SOKOLOV-D-A/CMake_Quiz-with-lib/out/build/x64-Debug/.cmake/api/v1
/SomovAS/out/build/x64-Debug
/YakimenkoGK/LibExp_Yakimenko/out/build/x64-Debug
