################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/DonKiRav
/SOKOLOV-D-A/CMake_Quiz-with-lib/out/build/x64-Debug/.cmake/api/v1
/SOKOLOV-D-A/Quiz-with-another-lib/out
/SOKOLOV-D-A/Quiz-with-another-lib/.vs
/SomovAS/out/build/x64-Debug
/YakimenkoGK/LibExp_Yakimenko/out/build/x64-Debug
/KozlovDA/test/Project1/Project1.vcxproj.user
/KozlovDA/test/Project1/Project1.vcxproj.filters
/KozlovDA/test/Project1/Project1.vcxproj
/KozlovDA/test/Project1/.vs/Project1/v16/Browse.VC.opendb
/KozlovDA/test/Project1/.vs/Project1/v16/Browse.VC.db
/ChernovEI/out/build/x64-Debug
/SOKOLOV-D-A
/SkabaraYA/Тест со структурами/TestWithStructures/TestWithStructures.vcxproj.user
/SkabaraYA/Тест со структурами/TestWithStructures/TestWithStructures.vcxproj.filters
/SkabaraYA/Тест со структурами/TestWithStructures/TestWithStructures.vcxproj
/SkabaraYA/Тест со структурами/TestWithStructures/TestWithStructures.sln
/KozlovDA/test/Project1/.vs/Project1/v16
/SkabaraYA/TestWithStructures/.vs/TestWithStructures/v16
/SkabaraYA/TestWithClasses/.vs/TestWithClasses/v16
/SkabaraYA/TestWithClasses/Debug/TestWithClasses.tlog
/SkabaraYA/TestWithClasses/Debug
/SkabaraYA/TestWithClasses/TestWithClasses.vcxproj.user
/SkabaraYA/TestWithClasses/TestWithClasses.vcxproj.filters
/SkabaraYA/TestWithClasses/TestWithClasses.vcxproj
/SkabaraYA/TestWithClasses/TestWithClasses.sln
/ArhipovAE/BinaryHeap/CMakeLists.txt
/ArhipovAE/BinaryHeap/cmake-build-debug/
/ArhipovAE/BinaryHeap/.idea/
